.footer {
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 45px;
  margin: 0 auto;
}

.credit {
  color: #c2c2c2;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}
